#searchResult{
    background: #F0F0F0;
    color: #686868;
    padding: 10px;
    margin: 10px;
}
#textDiv{
    padding-left: 0px;
}

#ImageDiv{
    margin: 10px;
}

#DetailsText{
    margin: 10px
 }

#detailsDiv{
    background: #F0F0F0;
    margin-top: 10px;
}
